{% extends 'plantilla.html' %}

{% block titulo %}Lista de Servidores{% endblock %}
{% block contenido %}
<section class="container">
  <div class="page-header">
    <h1>Servidores</h1>
  </div>
</section>
<div class="container">

  {% if usuario %}
    Bienvenido <b> <span style="color:violet">{{ usuario.username }}</span> </b>
    tus servidores actualmente son
  {% endif %}
    {% if error %}
      <h1>Ocurrió un error al conseguir los datos.</h1>
    {% elif servidores  %}
    
      <table class="table">
        <thead>
          <tr>
            <th>Descripcion</th>
            <th>IP</th>
            <th>Puerto</th>
            <th>Usuario ligado</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for server in servidores %}
          <tr>
            <td>{{ server.desc_srv }}</td>
            <td>{{ server.ip_srv }}</td>
            <td>{{ server.puerto }}</td>
            <td>{{ server.usr.usr }}</td>
            <td>
              <a href="{% url 'monitor' server.id %}" class="btn btn-success">Revisar</a>
              <a href="http://{{ server.ip_srv }}:{{ server.puerto_tty }}" class="btn btn-warning">Enviar comando</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else%}
        <h1>Este usuario no tiene servidores asociados</h1>
        <h1>Consulte al administrador para que vincule alguno a este usuario.</h1>
    {% endif %}
</div>
{% endblock %}